In [4]:
#Import your selected structured CSV data.

import pandas as pd
df = pd.read_csv('enviroEd.csv')
print(df.dtypes)

Year                 int64
Audience            object
Attendees            int64
Program Location    object
dtype: object

In [5]:
print(df[['Year','Attendees']].head())

   Year  Attendees
0  2019         30
1  2019       1040
2  2019         54
3  2019         95
4  2019        225

In [6]:
#Use Pandas to note any preliminary trends in the CSV as a dataframe.
df = pd.read_csv('enviroEd.csv')
df = df.set_index('Year')
df.head()

          Audience  Attendees Program Location
Year
2019  Adult Groups         30   Central Office
2019  Adult Groups       1040      Five Rivers
2019  Adult Groups         54         Region 1
2019  Adult Groups         95         Region 2
2019  Adult Groups        225    Regions 6/7/8

In [10]:
#Use Pandas to note any preliminary trends in the CSV as a dataframe.

df.loc[2018, 'Attendees'].head()

Year
2018    1298
2018      32
2018     390
2018    1016
2018    4951
Name: Attendees, dtype: int64

In [15]:
#Use "group by" to break down at least two different subsets of data.

location = df.groupby('Program Location')
location.get_group('Region 1').head()

               Audience  Attendees Program Location
Year
2019       Adult Groups         54         Region 1
2019    Day in the Life        323         Region 1
2019   Educator Support        328         Region 1
2019         Envirothon        190         Region 1
2019  Fairs & Fesitvals      23942         Region 1

In [20]:
#Use "group by" to break down at least two different subsets of data.
# I know now how simple this step seems, but it took me a while to work through how to get both functional and usable data in this step.

location['Attendees'].mean()

Program Location
Camps                                 1404.666667
Central Office                         803.388889
Five Rivers                           6610.704225
Five Rivers (no longer collected)        0.000000
Region 1                              3280.771930
Region 2                              1106.062500
Regions 6/7/8                        15802.952381
Reinstein                            16561.259740
Reinstein (no longer collected)          0.000000
Name: Attendees, dtype: float64